
#background1{
/* Rectangle 10 */
background: #252424;

}

#welcome{
    color:white;
}

#login{
    color:#FFFFFF;
    font-size: larger;
    font-weight: 800;
}
#subtext{
    color: #979797;
}

#midblock{
    width: 554.09px;
    height: 646.82px;
    background-color: #000000;
    border-radius: 5%;
    margin: auto;
    margin-top: 2%;

}