
#background1{
/* Rectangle 10 */
background: #252424;

}

#welcome{
    color:white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: sofia-pro, sans-serif;
    margin-top: 2%;
    width: 300px;
    vertical-align: center;
    margin: auto;

}

#login{
    color:#FFFFFF;
    font-weight: 900;
    font-family: sofia-pro, sans-serif;
    margin-bottom: 10px;
    font-size: 30px;
}
#subtext{
    color: #979797;
    font-family: sofia-pro, sans-serif;

}

#midblock{
    width: 554px;
    height: 646px;
    background-color: #000000;
    border-radius: 5%;
    margin: auto;
    margin-top: 2%;
    font-family: sofia-pro, sans-serif;


}

#Loginblock{
    padding: 4%;
}

#white{
    color: #FFFFFF;
}